<div class="title">
	<h1 class="word-break">RIGS LIST <small>Showing {{vm.rigs.length}} of {{vm.rigs.length}}</small>
	</h1>
</div>
<div class="clearfix">
	<button type="button" class="pull-right btn btn-link" ng-click="onAddRigButtonClick()" style="margin-bottom:20px">
		<i c8y-icon="plus"></i> Add Rig
	</button>
</div>
<div>
	<table class="table table-hover">
		<tbody>
			<tr ng-repeat="rig in vm.rigs" >
				<td style="width:30px" class="text-center">
					<i c8y-icon="{{rig.active ? 'check-circle' : 'minus-circle'}}" ng-class="rig.active ? 'statusOk' : 'statusNok'"></i>
				</td>
				<td class="interact">
					<a ng-click="goToRigDetail(rig)" class="listLink">
						{{rig.name}}						
					</a>
				</td>							
			</tr>
		</tbody>		
	</table>
</div>