<div class="panel panel-clean">
	<div class="panel-heading"><i c8y-icon="hdd-o"></i> Input</div>
	<div class="form-group">
		<label class="control-label noicon">Device</label>
		<h4 class="form-control-static"> {{vm.selected_input_device.name}}  </h4>	
	</div>
	<div class="panel-heading"><i c8y-icon="hdd-o"></i> Output</div>
	<div class="form-group">
		<label class="control-label noicon">Device</label>
		<h4 class="form-control-static"> {{vm.selected_output_device.name}} </h4>	
	</div>
	<div class="panel-heading"><i c8y-icon="cogs"></i> Properties</div>
	<div class="form-group">
		<label class="control-label noicon">Lane(s) to monitor</label>
		<h4 class="form-control-static"> {{vm.selected_lanes}} </h4>	
		<label class="control-label noicon">Sampling period</label>
		<h4 class="form-control-static"> todo </h4>	
		<label class="control-label noicon">Refresh time</label>
		<h4 class="form-control-static"> todo </h4>	
		<label class="control-label noicon">Default message</label>
		<h4 class="form-control-static"> {{vm.default_message.name}} </h4>	
		<table class="table table-hover">
			<tbody>
				<th>
					<label class="control-label noicon">trigger speed(s)</label>
				</th>
				<th>
					<label class="control-label noicon">Message to Display</label>
				</th>
				<tr ng-repeat="triggerSpeedMsg in vm.trigger_speed_msgs" >
					<td>
						{{triggerSpeedMsg.speed}}
					</td>
					<td>
						{{triggerSpeedMsg.vms.name}}
					</td>							
				</tr>
			</tbody>		
		</table>
	</div>
</div>