<div class="panel panel-clean">
	<div class="panel-body">
		<div class="form-group">
			<label class="control-label noicon">Last Modified</label>
			<h4 class="form-control-static"> < need to provide  > </h4>	
		</div>
		<div class="form-group">
			<label class="control-label noicon">Rig Description</label>			
			<input type="text" ng-model="vm.description"></input>
		</div>
		<div class="form-group">
			<label class="control-label noicon">Rig Type</label>
			<select ng-model="vm.rigType" ng-options="option as option.name for option in vm.availableRigOptions track by option.rig_type"></select>
		</div>
		<div class="form-group">
			<label class="control-label noicon">Status</label>
			<h4 class="form-control-static">
				<i c8y-icon="{{vm.activeStatus ? 'check-circle' : 'minus-circle'}}" ng-class="vm.activeStatus ? 'statusOk' : 'statusNok'">
					
				</i> {{vm.activeStatus ? 'Activated' : 'Deactivated'}}
			</h4>
		</div>
	</div>	
</div>

<div ng-if="vm.isOverspeed()">
	<overspeed-editor configuration="vm.configuration"></overspeed-editor>
</div>
<div ng-if="vm.isTravelTime()">
	<traveltime-editor configuration="vm.configuration"></traveltime-editor>
</div>

<div class="form-group">
	<div>
		<a href="" class="btn btn-primary" ng-click="saveRig(vm)"><span>Save</span></a>
		<a href="" class="btn btn-primary" ng-click="cancelEditModel(vm)"><span>Cancel</span></a>
	</div>	
</div>