
<div class="panel panel-clean">
	<div class="panel-body">
		<div class="form-group">
			<label class="control-label noicon">Last Modified</label>
			<h4 class="form-control-static"> < need to provide  > </h4>	
		</div>
		<div class="form-group">
			<label class="control-label noicon">Rig Description</label>			
			<h4 class="form-control-static">{{vm.description}}</h4>
		</div>
		<div class="form-group">
			<label class="control-label noicon">Rig Type</label>
			<h4 class="form-control-static">{{vm.rigType}}</h4>
		</div>
		<div class="form-group">
			<label class="control-label noicon">Status</label>
			<h4 class="form-control-static">
				<i c8y-icon="{{vm.activeStatus ? 'check-circle' : 'minus-circle'}}" ng-class="vm.activeStatus ? 'statusOk' : 'statusNok'">
					
				</i> {{vm.activeStatus ? 'Activated' : 'Deactivated'}}
			</h4>
		</div>
	</div>	
</div>

<div ng-if="vm.isOverspeed">
	<overspeed-detail configuration="vm.configuration"></overspeed-detail>
</div>
<div ng-if="vm.isTravelTime">
	<traveltime-detail configuration="vm.configuration"></traveltime-detail>
</div>

<div class="form-group">
	<div>
		<a href="" class="btn btn-primary" ng-click="activateRig(vm)"><span>{{vm.activeStatus ? 'Deactivate' : 'Activate'}}</span></a>
		<a href="" class="btn btn-primary" ng-click="editRig(vm)" ng-disabled="vm.activeStatus" ><span>Edit</span></a>
		<a href="" class="btn btn-primary" ng-click="deleteRig(vm)" ng-disabled="vm.activeStatus"><span>Delete</span></a>
	</div>
</div>